.cabecalho{
    background: var(--azul-forte);
    padding: 20px 0;
}

.cabecalho_logo {
    margin-bottom: 1rem;
    width: 25vw;
}

.cabecalho_navegacao {
    position: absolute;
    top: 50px;
    right: 0;
    padding-right: 2rem;
}

.cabecalho_link {
    display: inline;
    margin: 0 0 0 30px;
    text-transform: uppercase;
    color: var(--azul-agua);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.cabecalho_link:hover{
    color: whitesmoke;
    text-decoration: underline;
}
