.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--azul-agua);

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rodape_logo{
    align-self: flex-start;
    width: 100px;
}

.rodape_social {
    display: flex;
    padding-left: 3rem;
}

.rodape_midia {
    display: block;

    width: 42px;
    height: 42px;

    margin: 2rem 2rem;
}

.rodape_navegacao {
    text-align: center;
    line-height: 3;
    max-width: 100%;
}


.rodape_link {
    display: inline-block;

    margin: 0 .5rem .7rem;

    color: var(--azul-forte);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.rodape_link:hover{
    color: whitesmoke;
    text-decoration: underline;
}