.sobre {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--cinza-claro);
}

.sobre_titulo {
    color: var(--azul-forte);
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.sobre_subtitulo{
    line-height: normal;

    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;

    margin-bottom: 1rem;
}

.sobre_texto {
    line-height: normal;

    margin-bottom: 1rem;

    font-size: 1.25rem;
}

.sobre_beneficios{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    align-items: center;
}

.sobre_beneficios_imagem{
    width: 100vw;
    max-width: 600px;

    box-shadow: 0 2px 10px 5px #00000020;

    margin-bottom: .5rem;
}

.sobre_beneficios_titulo{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: normal;
    padding-bottom: 1rem;
    color: var(--azul-forte);
}

.sobre_beneficios li {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

